<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>User Deets</title>
    <link rel="stylesheet" type="text/css" href="/css/user-details.css"
  </head>
  <body>
    <h1>user deets</h1>
    <div class="svg-container">
    <%- svg %>
    </div>
    <div>
      <% if (today == longestStreakEnd) { %>

      <h2>Your longest streak is your current streak, and so far it is <%- longestStreakLength %>  days</h2>
      <h2>It started on <%- longestStreakStart %>  </h2>
      <% } else { %>
      <h2>Your longest streak was <%- longestStreakLength %>  days</h2>
      <h2>It started on <%- longestStreakStart %>  and ended on <%- longestStreakEnd%></h2>
    <div>
      <h2>Your current streak is <%- currentStreakLength %> days</h2>
      </div>
      <%  } %>
      </div>
      <div id="tooltip" class="hidden">
        <p><strong>Language</strong></p>
        <p><span id="value"></span></p>
      </div>
      <div id='loader' class='loader'></div>
      <script>
        // TODO put langdatasorted in statsObj
        // change this longestStreakLength to be
        // languaegdatasorted
        window.languageData = <%- JSON.stringify(longestStreakLength) %>;
      </script>
      <script src="//d3js.org/d3.v5.min.js"></script>
      <script src='/user-details.js'></script>
      </body>
      
      </html>